body {
    background-color: black;
    font-family: "Shadows Into Light", cursive;
    font-size: 24px;
    color: white;
}

h1 {
    font-family: "Shadows Into Light", cursive;
    color: black;
    text-align: center;
    font-size: 100px;
    color: white;
}

.jumbotron-fluid {
    background-color: black;
    background-image: url(../images/darkSnowGIF.gif);
    color: white;
}

.btn-light {
    font-family: "Shadows Into Light", cursive;
    font-size: 24px;
    float: left;
    border: 1px solid black;
}

.top-buffer {
    margin-top: 20px;
}

.form {
    font-family: "Shadows Into Light", cursive;
    font-size: 24px;
}